<ion-view view-title="Shared Frees">
	<ion-content class="padding">

		<div class="card">
			<a href="#" class="item item-icon-right">
				<i class="icon ion-chevron-right"></i>
				Tuesday C Period
			</a>
		</div>

		<div class="card">
			<a href="#" class="item item-icon-right">
				<i class="icon ion-chevron-right"></i>
				Wednesday D Period
			</a>
		</div>

		<div class="card">
			<a href="#" class="item item-icon-right">
				<i class="icon ion-chevron-right"></i>
				Wednesday H Period
			</a>
		</div>

		<div class="card">
			<a href="#" class="item item-icon-right">
				<i class="icon ion-chevron-right"></i>
				Friday B Period
			</a>
		</div>

	</ion-content>
</ion-view>
