<ion-view view-title="New Meeting">
	<ion-content class="padding">
		<div class="list list-inset">
			<label class="item item-input">
				<i class="icon ion-search placeholder-icon"></i>
				<input ng-model="query" placeholder="Search" type="text">
			</label>
		</div>

		<div class="list list-inset">
			<div class="item item-divider">
				Teachers
			</div>

			<div ng-repeat="teacher in teachers | filter:query" class="item item-checkbox">
				<label class="checkbox">
					<input type="checkbox">
				</label>
				{{ teacher.name }}
			</div>

			<div class="item item-divider">
				Students
    		</div>

			<div ng-repeat="student in students | filter:query" class="item item-checkbox">
				<label class="checkbox">
					<input type="checkbox">
				</label>
				{{ student.name }}
			</div>
		</div>

		<div class="list card">

			<div class="item item-divider">
				Shared Frees
			</div>

			<a ng-repeat="free in sharedFrees(teachers.concat(students))" href="#" class="item item-button-right">
				<button class="button button-positive">Request</button>
				{{ free.toString() }}
			</a>
		</div>

	</ion-content>
</ion-view>
