<ion-view view-title="New Meeting">
	<ion-content class="padding">
		<div class="list list-inset">
			<label class="item item-input">
				<i class="icon ion-search placeholder-icon"></i>
				<input placeholder="Search" type="text">
			</label>
		</div>

		<div class="list list-inset">
			<div class="item item-divider">
				Teachers
			</div>

			<div class="item item-checkbox">
				<label class="checkbox">
					<input type="checkbox">
				</label>
				Fred Levy
			</div>

			<div class="item item-checkbox">
				<label class="checkbox">
					<input type="checkbox">
				</label>
				Danah Screen
			</div>

			<div class="item item-checkbox">
				<label class="checkbox">
					<input type="checkbox">
				</label>
				Jason Torres
			</div>

			<div class="item item-divider">
				Students
    		</div>

			<div class="item item-checkbox">
				<label class="checkbox">
					<input type="checkbox">
				</label>
				Michael Truell
			</div>

			<div class="item item-checkbox">
				<label class="checkbox">
					<input type="checkbox">
				</label>
				Luca Koval
			</div>
		</div>

		<div class="list card">

			<div class="item item-divider">
				Shared Frees
			</div>

			<a href="#" class="item item-button-right">
				<button class="button button-positive">Request</button>
				G Period, Monday
			</a>

			<a href="#" class="item item-button-right">
				<button class="button button-positive">Request</button>
				C Period, Thurday
			</a>

		</div>

	</ion-content>
</ion-view>
