<ion-view view-title="Home">
	<ion-content class="padding">
		
		<div class="list card">
			<li class="item item-divider">
				Your following friends are free now:
  			</li>

			<a href="#" class="item">
				Michael Truell
			</a>
			<a href="#" class="item">
				Joshua Gruenstein
			</a>
			<a href="#" class="item">
				Luca Koval
			</a>
		</div>

		<h2>Alerts</h2>
		<div class="list card">
			<div class="item item-text-wrap">
				Today is a Day 10. You are free C, D, and E periods.
			</div>
		</div>

		<div class="card">
			<div class="item item-text-wrap">
				You have a meeting D period with Fred Levy.
			</div>
		</div>

	</ion-content>
</ion-view>
