<ion-view view-title="Meetings">
	<ion-content class="padding">
		<button class="button button-block button-positive">
			Make Meeting
		</button>

		<div class="list card">
			<div class="item item-text-wrap">
				Mr. Truell has requested to meet <b>D Period Monday</b>.
			</div>
			<a class="item item-icon-right balanced acceptor" href="#">
          		<i class="icon ion-checkmark-circled"></i>
          		Accept
        	</a>
        	<a class="item item-icon-right assertive acceptor" href="#">
          		<i class="icon ion-close-circled"></i>
          		Reject
        	</a>
		</div>

		<div class="card">
			<div class="item item-text-wrap">
				<b>D Period Monday</b> Meeting with Mr. Truell
			</div>
		</div>

		<div class="card">
			<div class="item item-text-wrap">
				<b>E Period Tuesday</b> Meeting with Señor Martin
			</div>
		</div>	

	</ion-content>
</ion-view>
